.greenButton {
    background-color: rgb(1, 184, 14);
    border-style: none;
    border-radius: 3px;
    color: white;
}

.greenButton:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 0);
    color: black;
}

.greenButton:hover:active {
    transform: translateY(4px);
}

.redButton {
    background-color: rgb(175, 48, 48);
    border-style: none;
    border-radius: 3px;
    color: black;
}

.redButton:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    color: white;
}

.redButton:hover:active {
    transform: translateY(2px);
}